name: add-name-pronunciations
on:
  push
  # issues:
  #   types:
  #     - opened
jobs:
  grab-name-pronunciations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - shell: bash
        run: |
          declare -A pronunciation_map
          while read n; do
            echo "$n"
            if [[ $n =~ (- ([A-Za-z ]+): (.*)) ]]; then
                echo "${BASH_REMATCH[2]}"
                echo "${BASH_REMATCH[3]}"
                echo "pronunciation_map+=( [\"${BASH_REMATCH[2]}\"]=\"${BASH_REMATCH[3]}\" )"
                # pronunciation_map+=([ "${BASH_REMATCH[2]}" ]="${BASH_REMATCH[3]}" )
                pronunciation_map["${BASH_REMATCH[2]}"]="${BASH_REMATCH[3]}"
                echo ${pronunciation_map["${BASH_REMATCH[2]}"]}
            fi
          done < name_pronunciations.md
          for name in "${!pronunciation_map[@]}"; do 
            KUDO=$(<test_names.txt)
            KUDO=`"${KUDO}" | sed -e "s/${name}/${name} \(${pronunciation_map["${name}"]}\)/g"`
          done
          echo $KUDO
          # while read n; do
          #  echo "$n"
          #  if [[ 
